/* .App {
    text-align: center;
    background-color: white;
  } */

.navbar {
    font-size: 1.75em;
}

.navbar-brand {
    font-size: 1.2em !important;
}

.game-nav {
    font-size: 1.6em !important;
}

.game-nav-link {
    color: rgba(0, 0, 0, 0.55) !important;
    font-size: 1em;
}

.game-cnt {
    background-color: white ;
}

.board-cnt {
    text-align: -webkit-center;
}


.board {
    width: fit-content;
    background-size: contain;
    margin: 1em;
}

.box {
    line-height: 170px;
    height: 170px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 170px;
    
    background: transparent;
    border: none;

    margin: 1em;


}

.box > img {
    height: 170px;
    width: 170px;
}

canvas {
    width: 800px;

}

#canvas-cnt {
    padding: 1em;
}


#canvas-cnt:focus {
    outline: none;

}

.pieces {
    width: -webkit-fill-available;
}

.alert {
    /* background-color: #40d2ffd3; */
    background-color: #f2f6f8b9;
    position: absolute !important;
    padding: 1.7rem !important;

    font-size: xx-large;
    width: 400px;

    top: 40%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    display: grid;

}

.play-button {
    
    background-color: #ffc100 !important;
    border: none !important;
    width: 170px;
    font-size: small !important;
    color: white !important;

    justify-self: center;

    margin: 0.7em;
    font-size: 0.7em !important;
}

.play-button:hover {
    background-color: #ffa900  !important;
}

