.App {
  text-align: center;
  background-color: #34373e;
}

.App-logo {
  height: 62vmin;
  padding: 2em;
  pointer-events: none;
}

.App-img {
  height: 30vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 110s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.aboutme {
  max-width: 80%!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: #474b53;
  justify-content: center;
}

.nav-link {
  color: #d4e2ff!important;
  font-size: large;
}

.nav-disabled {
  opacity: 40%;
}

/* vertical dividors */
.vr {
  color: #d4e2ff!important;
  margin: 0.75em;
}

.row-cols-xl-4 {
  width: fit-content;
}

.card {
  background-color: #61dafbe3!important;
}

.card-title {
  color: #cdf4ffe8!important;
  font-size: 1rem;
  /* margin: 1rem; */
  margin: 0.5rem 0 1rem;
}

.card-footer {
  font-size: 1rem;
}


.skill-div {
  min-height: 90px;
  
}

.skill-icon {
  /* height: 70px; */
  /* width: 8vmin; */
  width: 70px;
  min-height: 4vmin;
  max-height: 80px;
  vertical-align: top;

}

/* #React {
  height: 50px;
} */

#Express {
  width: 100px;
}

#mySQL{
  width: 90px;
}

#mongoDB {
  width: 100px;
}