.App {
  text-align: center;
  background-color: #34373e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-img {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: #474b53;
  justify-content: center;
}

.nav-link {
  color: #d4e2ff!important;
  font-size: large;
}

/* vertical dividors */
.vr {
  color: #d4e2ff!important;
  margin: 0.75em;
}

.card {
  background-color: #61dafbe3!important;
}

.card-title {
  color: #cdf4ffe8!important;
  font-size: 1rem
}

.skill-icon {
  /* height: 70px; */
  /* width: 8vmin; */
  width: 70px;
  min-height: 3vmin;
}

#React {
  height: 50px;
}

#Express {
  width: 90px;
}

#mySQL{
  width: 90px;
}

#mongoDB {
  width: 100px;
}